{{#each children itemController="promise_node"}}
  <tr>
    <td {{bindAttr style="style"}}>{{label}}</td>
    <td>{{state}}</td>
    <td>{{settledValue}}</td>
  </tr>
  {{partial "promise_node"}}
{{/each}}
